*{
    margin: 0;
    padding:0;
    box-sizing: border-box;    
}

a{
    color:#fff;
}

ul{
    list-style: none;
}

.heading{
    background-color: black;
    height: 55px;
    padding: 0 110px;
    margin-top: none;
    font: 14px;
    font-family: Arial,sans-serif;
    font-weight: normal;
    line-height: 1.75;
    
}

.section{
    background-color: black;
    height: 50px;
    margin-bottom: none;  
 }
   
 .logo{

    height: 35px;
    width: 30px;
   color: #fff;

 }


.hero{ 
    background-color: black;
    height: 394px;
    width: 100%;
    
    background-repeat: no-repeat;
    background-image: url(./img/D2E18C70-DC33-EA7C-39DBF18F477B143C.jpg);
    background-size: contain;
}

.mojave{
    text-decoration: none;
    font-size: 1.875rem;
    float: left;
    font-family: "Arial",sans-serif;
    color: honeydew;
    background-color:transparent; 
    margin-top: 340px;  
    
}


.hero__bottom{
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    width: 100%;
    height: 100px;
    content: "";
    padding-bottom: 0px;

}

/* ACA EMPIEZA LA PAPOTA */

.heading__left{
    display: flex;
    text-decoration: none;
    color: #fff;
    max-width: 235.64px;    
    min-width: 65px;
    padding: 10px 15px;
}

.heading__right{
    display: flex;
    color:#fff; 
    font-size: .8125rem;
    padding: 0;
    font-family: arial,sans-serif;
    
}

.heading__right li{
    text-transform: uppercase;
    display: flex;
    align-items: center;
  

}

.heading__right img{
    max-height: 13px;
    max-width: 13px;
}

.name{
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 0px 0px 12px;
    display: block;
    font-size: 1rem;

}

.preheader{
    
    background-color: #70100a ;
    height:155.59px;
    width: none;
    padding-top: 10px;
    
}



.texto__preheader{
color:#fff;
text-align: center;
margin-bottom: 20px;
height:98px;
width: 641.66px;
font-size: 14px;
font-family: Arial,sans-serif;
line-height: 1.75;
font-weight: normal;

margin-top: 15px;

}

.preheader__{

        padding: 0px 10px;
        max-width: 641.656px;
        min-width: 155.594px;
        
}

.covid{
    font-family: Arial,sans-serif ;
    height:17.59px;
    width: 641.66px;
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    margin-left: 75px;
    background-color:#70100a;
    
    
       
}



.button1{
    
    font-family: arial,sans-serif;
    text-transform: uppercase;
    font: 13px;  
    padding: 20px 20px 20px 0;
    background-color: black;
    color: white;
    border: 2px;
}

.button2{
    
    font-family: arial,sans-serif;
    text-transform: uppercase;
    font: 13px;
    padding: 20px 20px 20px 0;
    background-color: black;
    color: white;
    border: 2px;
    
}

.alert{
    display: flex;
    height:30px;
    width: 30px;
    height: 50px;
   
}

.container{

    max-width: 980px;
    height: 100%;

}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


